<%!
from django.core.urlresolvers import reverse
%>

<div style="margin: 20px 0;">
    <h3>Add existing wallet</h3>
    <span id="skillonomy_response"></span>
    <form action="" id="skillonomy_form" style="padding: 10px;">
        <label for="wallet_name" style="display: inline;">Wallet name</label>
        <input type="text" name="wallet_name" id="wallet_name">
        <input type="submit" id="submit" value="Add">
    </form>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#skillonomy_form").submit(function(e) {
                e.preventDefault();
            });
            $('#submit').on("click", function(event){
                $.ajax({
                    url: "${reverse('skillonomy:update')}",
                    method: 'post',
                    data: {
                        wallet_name: $('#wallet_name').val()
                    },
                    success: function(data) {
                        let stringData = "API response - ";
                        Object.keys(data).forEach((key) => {
                            stringData += key + " " + data[key];
                        });
                        $('#skillonomy_response').text(stringData);
                    }
                });
            });
        });
    </script>
</div>
